*.pdf
.vscode/
ex??
cplusplus/
non-exporte/
geoip/
tri/
exercices/liste_chainees/old*
exercices/liste_chainees/liste_alt.c
exercices/liste_chainees/liste_g1.c
exercices/divers/*
exercices/matrices/mat*.txt
exercices/matrices/Makefile
exercices/matrices/liens.md
exercices/matrices/transpose.c
exercices/matrices/addition.c
exercices/matrices/multiplication.c
exercices/quiz/*
exercices/chunck/*
exercices/tris/prive.md
exercices/rationnel/Makefile
exercices/rationnel/rationnel
exercices/rationnel/rationnel_fab.c
exercices/rationnel/rationnel_fab
